@using Northwind.Models
@model Product 
@{
    ViewData["Title"] = "View";
}

<select asp-for="ProductId" asp-items='@(new SelectList(ViewBag.ListofProducts,"ProductId","ProductName"))'>
    <option>Select</option>
</select>



